@mixin absoluteCenter($pos: fixed) {
    position: $pos;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
}

.hero {
    width: 100%;
    height: 400vh;
    position: relative;
    // top: 0;
    overflow: hidden;
    z-index: 0;

    .tv {
        @include absoluteCenter();
        width: 20vw;
        aspect-ratio: 4/3;
        background: gray;
        z-index: 6;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            position: absolute;
            opacity: 0;
        }
    }

    &__wrapper {
        width: 100%;
        height: 100%;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 1;

        .lamp {
            position: absolute;
            top: 0;
            left: 80%;
            transform: translateX(-50%);
            width: 120px;
            height: 100px;
            // background-color: gray;
            z-index: 10;
            text-align: center;

            & > * {
                position: absolute;
                left: 50%;
                transform: translateX(-50%);
            }

            &__line {
                background-color: $cCream;
                top: 0;
                height: 25%;
                width: 2px;
            }

            &__triangle {
                background-color: $cCream;
                top: 25%;
                width: 100%;
                height: 55%;
                clip-path: polygon(0 100%, 50% 0, 100% 100%);
            }

            &__light {
                background-color: $cYellow;
                top: 80%;
                width: 60%;
                height: 20%;

                border-radius: 0 0 50% 50% /0 0 100% 100%;
            }
        }

        .lightSpot {
            width: 200vw;
            height: 100vh;
            background-color: $cCream;
            position: absolute;
            left: 80%;
            transform: translateX(-50%);
            top: 60px;
            clip-path: polygon(0% 100%, 50% 0%, 100% 100%);
            z-index: 5;
        }
    }

    &__mask {
        position: absolute;
        width: 100%;
        height: 200%;
        background-color: $cGray;
        z-index: 5;
    }
}

.nextArea {
    position: relative;
    z-index: 500;
height: 100vh;



    .area1 {
      height: 100vh;
      background-color: red;
      position: relative;
  }
  
  .area2 {
      height: 100vh;
      background: $cYellow;
      position: relative;
  }
}

